/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

/* MAIN CSS */
.vglasses__left {
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.vglasses__left .show {
    align-self: center;
}

.vglasses__items {
    cursor: pointer;
}

.vglasses__right {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.vglasses__model {
    background-image: url("../img/model.jpg");
    background-position: center top;
    background-size: cover;
    height: 600px;
}

.vglasses__model img {
    position: absolute;
    top: 32%;
    left: 25%;
    width: 238px;
    height: 85px;
    opacity: 0.9;
}

.vglasses__card {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.vglasses__info {
    position: absolute;
    top: 29%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    padding: 20px;
    display: block;
}

.vglasses__info_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    color: white;
    padding: 20px;
    display: none;
}

#glassesInfo_2 .red {
    color: rgb(224, 143, 143);
    font-weight: bold;
}

#glasses {
    transition: all 0.5s;
}

#vglassesList p {
    color: red;
    display: none;
}

@media screen and (max-width: 1200px) {
    .vglasses__info {
        left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 990px) {
    .vglasses__info {
        position: absolute;
        top: 32%;
        left: 0;
        width: 100%;
        padding: 1px;
    }
}

@media screen and (max-width: 768px) {
    .vglasses__info img {
        padding: 0 0 0 0;
    }
}

#button {
    display: none;
}